header{
    padding: 1rem 0.5rem;
    background-color: #004d8b;
    display: flex;
    align-itens: center;
    color: #fd8402;
}

img{
    width: 14rem;
    height: 2rem;
    background: white;
    border-radius: 4rem;
    padding: 0.5rem;
}