.group {
    margin: 1rem 3rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: red;
}
.double {
    margin: 0.1rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}