div.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60%;
    margin-left:15rem
}
h1.titulo-da-caixa {
    color: #fd8402;
}