.card {
    width: 33rem;
    height: 18rem;
    display: flex;
    border: 2px solid;
    border-radius: 1rem;
    border-color: #000;
    flex-direction: column;
    background-color: #E4E2E4;
    align-items: center;
    margin: 4rem;
    box-sizing: border-box;
}
.titulo {
    border-bottom: 2px solid;
    border-color: #000;
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    }
.conteudo {
    padding: 1rem 3rem;
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
h2 {
    color: #000;
    font-size: 25px;
}
span {
    color: #000;
    max-width: 100ch;
    height: 120px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}